@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :focus {
        outline: transparent !important;
        box-shadow: 0 0 0 2px #00875F;
    }

    @media (max-width: 768px) {
        html {
            font-size: 87.5%;
        }
    }
    
}